/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
  --bg-black: #181818;
  --black: #222;
  --yellow: #FABB03;
  --grey: #F3F3F3;
  --grey-text: #4A4A4A;
  --blue: #3D73C4;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-It';
  src: url('../fonts/BigCityGrotesquePro-It.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-Book';
  src: url('../fonts/BigCityGrotesquePro-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-ThinIt';
  src: url('../fonts/BigCityGrotesquePro-ThinIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-BookIt';
  src: url('../fonts/BigCityGrotesquePro-BookIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-HeavyIt';
  src: url('../fonts/BigCityGrotesquePro-HeavyIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-MediumIt';
  src: url('../fonts/BigCityGrotesquePro-MediumIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-Hairline';
  src: url('../fonts/BigCityGrotesquePro-Hairline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-LightIt';
  src: url('../fonts/BigCityGrotesquePro-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-BlackIt';
  src: url('../fonts/BigCityGrotesquePro-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-BoldIt';
  src: url('../fonts/BigCityGrotesquePro-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-HairlineIt';
  src: url('../fonts/BigCityGrotesquePro-HairlineIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

[v-cloak] {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'BigCityGrotesquePro', serif;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--bg-black);
  z-index: 99;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 55px 60px;
  position: relative;
}

.btn {
  font-size: 14px;
  border-radius: 20px;
  line-height: 1;
  border: 1px solid #fff;
  font-weight: 900;
  opacity: .5;
  padding: 12px 27px;
}

.btn_black {
  border-color: #532828;
  color: #3F3F3F;
  font-weight: 400;
  opacity: .9;
  padding: 12px 37px;
}

.btn:hover,
.btn:focus {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-img-enter-active, .fade-img-leave-active {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-img-enter, .fade-img-leave-to {
  opacity: 0;
}

.scroll-box::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.scroll-box::-webkit-scrollbar {
  height: 2px;
  width: 1px;
  border-radius: 2px;
  background-color: rgba(55, 55, 55, .23);
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 2px;
}

.scroll-box_light::-webkit-scrollbar {
  height: 10px;
  border-radius: 10px;
  border-top: 4px solid var(--bg-black);
  border-bottom: 4px solid var(--bg-black);
}

.scroll-box_light::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 10px;
  border-top: 4px solid var(--bg-black);
  border-bottom: 4px solid var(--bg-black);
}

.title_h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.sidebar {
  z-index: 2;
}

.sidebar__wrapper {
  position: relative;
  width: 210px;
  height: 100%;
  z-index: 0;
}

.sidebar__inner {
  width: 210px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  padding: 39px 31px;
  padding-bottom: 26px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--bg-black);
}

.sidebar__bar {
  margin-top: 16px;
  display: none;
}

.sidebar__bar span {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #fff;
  -webkit-transition: all .275s;
  -o-transition: all .275s;
  transition: all .275s;
}
  
.sidebar__bar span:after,
.sidebar__bar span:before {
  content: '';
  display: block;
  height: 100%;
  background: #fff;
  -webkit-transition: all .275s;
  -o-transition: all .275s;
  transition: all .275s;
}

.sidebar__contact-btn {
  padding-top: 14px;
}

.sidebar__bar span:after {
  -webkit-transform: translateY(-12px) translateX(0);
      -ms-transform: translateY(-12px) translateX(0);
          transform: translateY(-12px) translateX(0);
}

.sidebar__bar span:before {
  -webkit-transform: translateY(-16px);
      -ms-transform: translateY(-16px);
          transform: translateY(-16px);
}

.sidebar__inner_show .sidebar__bar span {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	    -ms-transform: translateY(-8px) rotate(-45deg);
	        transform: translateY(-8px) rotate(-45deg);
}

.sidebar__inner_show .sidebar__bar span:before {
	-webkit-transform: translateY(0px) rotate(90deg);
	    -ms-transform: translateY(0px) rotate(90deg);
	        transform: translateY(0px) rotate(90deg);
}

.sidebar__inner_show .sidebar__bar span:after {
	-webkit-transform: translateY(-12px) translateX(10px);
	    -ms-transform: translateY(-12px) translateX(10px);
	        transform: translateY(-12px) translateX(10px);
    opacity: 0;
}

.sidebar__nav {
  margin: auto 0;
}

.sidebar__footer {
  text-align: center;
}

.sidebar__phone {
  opacity: .6;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 26px;
  display: block;
}

.sidebar__phone:hover,
.sidebar__phone:focus {
  opacity: 1;
}

.logo {
  display: block;
}

.nav {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.nav__item {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 700;
  -webkit-transition: .3s color;
  -o-transition: .3s color;
  transition: .3s color;
}

.nav__item_active,
.nav__item:focus,
.nav__item:hover {
  color: var(--yellow);
}

.nav__item_active {
  pointer-events: none;
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 408px; /* map + footer in bottom */
  z-index: 2;
}

.main__header {
  color: #fff;
  background: url(../img/bg-header.svg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bg-black);
}

.main-header {
  padding-top: 58px;
  padding-bottom: 58px;
}

.main-header__title {
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 25px;
  margin-top: 244px;
}

.main-header__small {
  opacity: .5;
}

.main-header__more {
  margin-top: 220px;
  line-height: 35px;
  white-space: pre-line;
}

.main__section_black {
  background-color: var(--bg-black);
}

.main__section_grey {
  background-color: var(--grey);
}

.competencies-section {
  padding-bottom: 2rem;
}

.competencies-section__container {
  padding-right: 30px;
}

.competencies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.competencies__title {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.competencies__item {
  width: 100%;
  max-width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 30px;
  margin-right: 30px;
}

.competencies__icon {
  margin-bottom: 25px;
  height: 48px;
}

.competencies__title {
  font-weight: 900;
}

.results {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
}

.results__wrapper {
  overflow: hidden;
  max-width: 720px;
  cursor: url(../img/icons/drag.png) 16 9, ew-resize;
}

.results__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition-timing-function: easy-out-in;
       -o-transition-timing-function: easy-out-in;
          transition-timing-function: easy-out-in;
}

.results__item {
  color: var(--grey-text);
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.results__all-text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  margin-right: 50px;
}

.results__title {
  margin-bottom: .2rem;
  font-size: 1rem;
}

.results__text {
  margin-bottom: 16px;
}

.results__title,
.results__text_bold {
  font-weight: 700;
}

.results__quote {
  background: url(../img/icons/quotes.svg) no-repeat top left;
  padding-left: 36px;
  width: 336px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 50px;
}

.results__quote-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.results__quote-author-img {
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.results__quote-author-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.results__quote-author-name {
  font-weight: 500;
}

.results__quote-author-job {
  line-height: 1.5;
}

.results__quote-link {
  color: var(--blue);
}

.results__quote-link span {
  margin-left: 7px;
}

.results__nav {
  --border: 4px solid #fff;
  position: relative;
  background-color: rgba(55, 55, 55, .23);
  height: 10px;
  border-top: var(--border);
  border-bottom: var(--border);
  width: 100%;
  overflow: hidden;
}

.results__nav-item-active {
  height: 10px;
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: #373737;
  position: absolute;
  top: -4px;
  left: 0;
  -webkit-transition: .6s left;
  -o-transition: .6s left;
  transition: .6s left;
  z-index: 2;
}

.results__website {
  position: absolute;
  top: 147px;
  left: 790px;
  z-index: 99;
}

.results__website-screen {
  position: absolute;
  top: 0;
  left: 0;
}

.macbook {
  width: 465px;
  height: 268px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/macbook.png) no-repeat center bottom;
  background-size: contain;
}

.macbook__top {
  height: 95%;
  width: 80%;
  margin: 0 auto;
  background-color: #060914;
  border-radius: 14px 14px 6px 6px;
  overflow: hidden;
  border: 2px solid #344248;
  border-bottom: none;
  padding: 3px 2px 3px 2px;
  position: relative;
}

.macbook__screen {
  border-radius: 14px 14px 6px 6px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.macbook__screen img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}

.access__wrapper {
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.access__box {
  overflow-y: auto;
  -webkit-box-shadow: 0 12px 30px rgba(0, 0, 0, .1);
          box-shadow: 0 12px 30px rgba(0, 0, 0, .1);
  -webkit-transition: .6s height;
  -o-transition: .6s height;
  transition: .6s height;
}

.access__img {
  height: 100%;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.accordion {
  list-style: none;
  padding: 0;
}

.accordion__item {
  position: relative;
}

.accordion__title {
  cursor: pointer;
  background: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 14px 12px 23px;
  border-bottom: 2px solid var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__text {
  background: #FFF5D8;
  -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
  padding: 0 42px 0 23px;
  color: #505050;
  line-height: 1.4;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: .6s;
       -o-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(.42, .2, .08, 1);
       -o-transition-timing-function: cubic-bezier(.42, .2, .08, 1);
          transition-timing-function: cubic-bezier(.42, .2, .08, 1);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.accordion__text_show {
  height: auto;
  opacity: 1;
  padding-top: 22px;
  padding-bottom: 8px;
  position: relative;
  z-index: 0;
}

.accordion__text p {
  margin-bottom: 9px;
}

.accordion__icon {
  margin-left: auto;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion__icon:before,
.accordion__icon:after {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: #AFAFAF;
  -webkit-transition: ease .3s all;
  -o-transition: ease .3s all;
  transition: ease .3s all;
}

.accordion__icon:before {
  width: 1px;
  height: 15px;
}

.accordion__icon:after {
  width: 15px;
  height: 1px;
}

.accordion__title:hover .accordion__icon:before,
.accordion__title:hover .accordion__icon:after {
  background-color: #52616b;
}

.accordion__icon_open:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.numbers,
.numbers-other {
  padding-bottom: 30px;
}

.numbers {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers__item {
  width: 22%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 3%;
  font-size: 18px;
  margin-bottom: 30px;
}

.numbers__title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 9px;
}

.numbers__small {
  color: #C4C4C4;
  font-size: 12px;
  margin-top: 15px;
  display: block;
}

.technologies {
  color: #fff;
}

.technologies__text {
  color: #989898;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.technologies__text p {
  margin-bottom: 10px;
}

.technologies__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.technologies__item {
  width: 28%;
  color: #f2f2f2;
  position: relative;
  margin-right: 5%;
  margin-bottom: 2.4%;
}

.technologies__img {
  position: absolute;
  left: -30px;
  top: 0;
}

.technologies__title {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1.2;
  color: #fff;
}

.screenshots {
  width: 100%;
  max-width: 508px;
  margin: 0 auto;
  overflow: hidden;
}

.screenshots__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0 -webkit-transform ease-out;
  transition: 0 -webkit-transform ease-out;
  -o-transition: 0 transform ease-out;
  transition: 0 transform ease-out;
  transition: 0 transform ease-out, 0 -webkit-transform ease-out;
  cursor: url(../img/icons/drag.png) 16 9, ew-resize;
}

.screenshots__item {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 32px;
}

.screenshots__count-slides {
  display: none;
}

.screenshots__item img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.screenshots__title {
  color: #4F4F4F;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
}

.screenshots__macbook {
  width: 100%;
  margin-bottom: 16px;
}

.screenshots__nav {
  --border: 4px solid var(--bg-black);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(119, 119, 119, .23);
  height: 10px;
  border-top: var(--border);
  border-bottom: var(--border);
  width: 100%;
}

.screenshots__nav-item-active {
  height: 10px;
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: #606060;
  position: absolute;
  top: -4px;
  left: 0;
  -webkit-transition: .6s left;
  -o-transition: .6s left;
  transition: .6s left;
  z-index: 2;
}

.numbers-other-section {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  background: #272727;
}

.numbers-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #C4C4C4;
}

.numbers-other__item {
  width: 22%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 30px;
  margin-right: 3%;
}

.numbers-other__title {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 11px;
  color: var(--grey);
}

.companies {
  text-align: center;
}

.companies__title {
  font-weight: 300;
  font-size: 30px;
  color: #5E5E5E;
  margin-bottom: 2.5rem;
}

.companies__wrapper {
  padding-bottom: 10px;
  overflow: hidden;
}

.companies__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-transition: .8s transform;
  -o-transition: .8s transform;
  transition: .8s transform;
}

.companies__item {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.companies__item:not(:last-child) {
  margin-right: 80px;
}

.companies__get-access {
  color: #CCCCCC;
  margin: 0 auto;
  opacity: .9;
}

.questions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.questions__box {
  list-style: none;
  padding: 0;
  width: 50%;
  -webkit-box-shadow: 0 12px 30px rgba(0, 0, 0, .1);
          box-shadow: 0 12px 30px rgba(0, 0, 0, .1);
}

.questions__box:not(:last-child) {
  margin-right: 60px;
}

.contact {
  color: var(--bg-black);
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__info {
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  padding: 35px 39px;
  width: 50%;
  margin-right: 60px;
}

.contact__phone,
.contact__mail,
.contact__address {
  display: block;
  margin-bottom: 1rem;
}

.contact__phone,
.contact__address {
  font-weight: 700;
}

.contact__leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contact__photo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 22px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.contact__phone img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact__form {
  width: 50%;
}

.form__label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 31px;
}

.form__input {
  border: none;
  border-bottom: 2px solid #3F3F3F;
  color: #3F3F3F;
  font-size: 18px;
  display: block;
  width: 100%;
  outline: none;
  line-height: 2;
}

.form__input-text {
  position: absolute;
  line-height: 2;
  color: #3F3F3F;
  font-size: 18px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: top, font-size, color;
  -o-transition-property: top, font-size, color;
  transition-property: top, font-size, color;
}

.form__input-text_focus,
.form__input:focus ~ .form__input-text {
  font-size: 12px;
  top: -16px;
  color: #838383;
}

.form__textarea {
  resize: none;
  margin-top: 56px;
}

.form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 46px;
}

.form__btn {
  margin-right: 15px;
}

.form__error {
  font-size: 12px;
  display: block;
  color: #F51A1A;
  position: absolute;
  top: 44px;
  z-index: 2;
}

.form__small {
  font-size: 12px;
  color: #BCBCBC;
  display: block;
  cursor: default;
}

.form__link {
  display: block;
  text-decoration: underline;
}

.footer {
  background-color: var(--bg-black);
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 210px;
  z-index: 1;
}

.footer__map {
  height: 240px;
  background: url(../img/map.png) no-repeat center;
  background-size: cover;
}

.footer__google-map {
  width: 100%;
  height: 240px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: .6s opacity, .6s height, .6s padding-top, .6s padding-bottom;
  -o-transition: .6s opacity, .6s height, .6s padding-top, .6s padding-bottom;
  transition: .6s opacity, .6s height, .6s padding-top, .6s padding-bottom;
  height: 0;
  overflow: hidden;
}

.footer__socials_show {
  opacity: 1;
  height: auto;
  padding-top: 28px;
  padding-bottom: 36px;
}

.footer__social {
  display: block;
  margin: 0 10px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 52px 0;
  line-height: 2;
}

.footer__copyright {
  color: #C4C4C4;
}

.footer__link {
  display: block;
  -webkit-transition: .2s color;
  -o-transition: .2s color;
  transition: .2s color;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--yellow);
}

.footer__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__partner:not(:last-child) {
  margin-right: 21px;
}

@media (max-width: 1230px) {
  .access__wrapper {
    height: 318px;
  }

  .technologies__item {
    margin-bottom: 4%;
  }

  .numbers,
  .numbers-other {
    padding-right: 30px;
  }
}

@media (max-width: 1180px) {
  .technologies__item {
    width: 42%;
    margin-right: 8%;
  }

  .questions__box:not(:last-child) {
    margin-right: 30px;
  }

  .contact__info {
    margin-right: 30px;
  }
}

@media (max-width: 1090px) {
  .access__img {
    display: none;
  }

  .questions__list {
    display: block;
  }

  .questions__box {
    width: 100%;
    margin-right: 0;
  }

  .numbers__item {
    width: 47%;
  }

  .numbers-other__item {
    width: 48%;
  }

  .footer__partners {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .main__header {
    padding: 25px 35px;
  }

  .container {
    padding: 30px 35px;
  }

  .competencies-section {
    padding-right: 0;
  }

  .numbers,
  .numbers-other {
    padding-bottom: 5px;
  }

  .access {
    padding-bottom: 40px;
  }

  .contact__box {
    display: block;
    max-width: 508px;
    margin: 0 auto;
  }

  .contact__info {
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .contact__form {
    width: 100%;
  }

  .results__website {
    display: none;
  }

  .results__all-text {
    margin-right: 30px;
    width: 43%;
  }

  .results__quote {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: .4s left;
    -o-transition: .4s left;
    transition: .4s left;
  }

  .sidebar__bar {
    display: block;
  }

  .sidebar__wrapper {
    width: 100vw;
  }

  .sidebar__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .sidebar__inner {
    background-color: transparent;
    position: absolute;
    width: 100%;
    -webkit-transition: .2s background-color;
    -o-transition: .2s background-color;
    transition: .2s background-color;
  }

  .sidebar__nav,
  .sidebar__footer {
    -webkit-transform: translateX(-107%);
        -ms-transform: translateX(-107%);
            transform: translateX(-107%);
    -webkit-transition: .5s transform;
    -o-transition: .5s transform;
    transition: .5s transform;
  }

  .sidebar__nav_show,
  .sidebar__footer_show {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .sidebar__inner_show {
    background-color: var(--bg-black);
    position: fixed;
  }

  .sidebar__header_show {
    left: 31px;
  }

  .nav__item {
    -webkit-transform: translateX(-148px);
        -ms-transform: translateX(-148px);
            transform: translateX(-148px);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    -o-transition: transform .6s cubic-bezier(.4,0,0,1);
    transition: transform .6s cubic-bezier(.4,0,0,1);
    transition: transform .6s cubic-bezier(.4,0,0,1), -webkit-transform .6s cubic-bezier(.4,0,0,1);
  }

  .sidebar__nav_show .nav li:first-child .nav__item {
    -webkit-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s;
  }

  .sidebar__nav_show .nav li:nth-child(2) .nav__item {
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
  }

  .sidebar__nav_show .nav li:nth-child(3) .nav__item {
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
  }

  .sidebar__nav_show .nav li:nth-child(4) .nav__item {
    -webkit-transition-delay: .4s;
         -o-transition-delay: .4s;
            transition-delay: .4s;
  }

  .sidebar__nav_show .nav li:nth-child(5) .nav__item {
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
  }

  .sidebar__nav_show .nav__item {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .technologies__box {
    margin-left: 26px;
  }

  .technologies__item {
    width: 100%;
    margin-right: 0;
  }

  .footer__socials {
    opacity: 1;
    height: auto;
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .footer {
    margin-left: 0;
  }

  .footer__info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 14px;
  }

  .main__header,
  .sidebar__inner,
  .container {
    padding: 20px 15px;
  }

  .main-header__title {
    font-size: 3em;
  }

  .results__item {
    display: block;
  }

  .results__all-text {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .results__quote {
    width: 100%;
    margin-bottom: 30px;
  }

  .technologies__text {
    font-size: 16px;
  }

  .technologies__title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .technologies__item {
    margin-bottom: 24px;
  }

  .numbers__item,
  .numbers-other__item {
    width: 100%;
    margin-right: 0;
  }

  .numbers__title {
    font-size: 24px;
  }

  .numbers__item {
    font-size: 16px;
  }

  .contact__info {
    padding: 15px;
  }
}