:root {
  --bg-black: #181818;
  --black: #222;
  --yellow: #FABB03;
  --grey: #F3F3F3;
  --grey-text: #4A4A4A;
  --blue: #3D73C4;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-It';
  src: url('../fonts/BigCityGrotesquePro-It.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-Book';
  src: url('../fonts/BigCityGrotesquePro-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-ThinIt';
  src: url('../fonts/BigCityGrotesquePro-ThinIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-BookIt';
  src: url('../fonts/BigCityGrotesquePro-BookIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-HeavyIt';
  src: url('../fonts/BigCityGrotesquePro-HeavyIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-MediumIt';
  src: url('../fonts/BigCityGrotesquePro-MediumIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-Hairline';
  src: url('../fonts/BigCityGrotesquePro-Hairline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-LightIt';
  src: url('../fonts/BigCityGrotesquePro-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro';
  src: url('../fonts/BigCityGrotesquePro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BigCityGrotesquePro-BlackIt';
  src: url('../fonts/BigCityGrotesquePro-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-BoldIt';
  src: url('../fonts/BigCityGrotesquePro-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BigCityGrotesquePro-HairlineIt';
  src: url('../fonts/BigCityGrotesquePro-HairlineIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: 'BigCityGrotesquePro', serif;
  line-height: 1.5;
  color: var(--black);
}

.app {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 408px; /* map + footer in bottom */
}

.btn {
  font-size: 14px;
  border-radius: 20px;
  line-height: 1;
  border: 1px solid #fff;
  font-weight: 900;
  opacity: .5;
  padding: 12px 27px;
}

.btn_black {
  border-color: #532828;
  color: #3F3F3F;
  font-weight: 400;
  opacity: .9;
  padding: 12px 37px;
}

.btn:hover,
.btn:focus {
  opacity: 1;
}

.scroll-box::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: rgba(119, 119, 119, .23);
  border-radius: 2px;
}

.scroll-box::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(119, 119, 119, .23);
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #373737;
}

.title_h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.sidebar__wrapper {
  position: relative;
  width: 210px;
  height: 100%;
  z-index: 0;
}

.sidebar__inner {
  width: 210px;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  padding: 39px 31px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-black);
}

.sidebar__footer {
  text-align: center;
}

.sidebar__phone {
  opacity: .6;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 26px;
  display: block;
}

.sidebar__phone:hover,
.sidebar__phone:focus {
  opacity: 1;
}

.logo {
  display: block;
}

.nav {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.nav__item {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 700;
}

.nav__item_active,
.nav__item:focus,
.nav__item:hover {
  color: var(--yellow);
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.main__header {
  min-height: 100vh;
  color: #fff;
  background: url(../img/bg-header.svg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 58px 54px;
  background-color: var(--bg-black);
}

.main-header__title {
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 25px;
}

.main-header__small {
  opacity: .5;
}

.main-header__more {
  margin-top: 22.5vh;
  line-height: 35px;
}

.main__section {
  padding: 55px 60px;
}

.main__section_black {
  background-color: var(--bg-black);
}

.main__section_grey {
  background-color: var(--grey);
}

.competencies-section {
  padding-bottom: 2rem;
}

.competencies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.competencies__title {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.competencies__item {
  width: 300px;
  flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.competencies__icon {
  margin-bottom: 25px;
}

.competencies__title {
  font-weight: 900;
}

.results__item {
  color: var(--grey-text);
  line-height: 26px;
  display: flex;
}

.results__all-text {
  flex-shrink: 0;
  width: 300px;
  margin-right: 50px;
}

.results__title {
  margin-bottom: .2rem;
  font-size: 1rem;
}

.results__text {
  margin-bottom: 1rem;
}

.results__title,
.results__text_bold {
  font-weight: 700;
}

.results__quote {
  background: url(../img/icons/quotes.svg) no-repeat top left;
  padding-left: 36px;
  width: 336px;
  flex-shrink: 0;
  margin-right: 50px;
}

.results__quote-author {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.results__quote-author-img {
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.results__quote-author-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.results__quote-author-name {
  font-weight: 500;
}

.results__quote-author-job {
  line-height: 1.5;
}

.results__quote-link {
  color: var(--blue);
}

.results__quote-link span {
  margin-left: 7px;
}

.macbook {
  width: 465px;
  height: 268px;
  flex-shrink: 0;
  background: url(../img/macbook.png) no-repeat center bottom;
  background-size: contain;
}

.macbook__top {
  height: 254px;
  width: 378px;
  margin: 0 auto;
  background-color: #060914;
  border-radius: 14px 14px 6px 6px;
  overflow: hidden;
  border: 2px solid #344248;
  border-bottom: none;
  padding: 3px 2px 3px 2px;
}

.macbook__screen {
  border-radius: 14px 14px 6px 6px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.macbook__screen img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.access {
  height: 470px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.access__box {
  height: 100%;
  overflow-y: auto;
}

.access__img {
  height: 100%;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.accordion {
  list-style: none;
  padding: 0;
}

.accordion__item {
  position: relative;
}

.accordion__title {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0 12px 30px rgba(0, 0, 0, .1);
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 23px;
  border-bottom: 2px solid var(--grey);
}

.accordion__text {
  background: #FFF5D8;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
  padding: 0 42px 0 23px;
  color: #505050;
  line-height: 1.4;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(.42, .2, .08, 1);
  transition-property: height, opacity, padding-top, padding-bottom;
}

.accordion__text_show {
  height: auto;
  opacity: 1;
  padding-top: 22px;
  padding-bottom: 8px;
}

.accordion__text p {
  margin-bottom: 9px;
}

.accordion__icon {
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  margin-top: -3px;
  align-items: center;
  justify-content: center;
}

.accordion__icon:before,
.accordion__icon:after {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: #AFAFAF;
  transition: ease .3s all;
}

.accordion__icon:before {
  width: 1px;
  height: 15px;
}

.accordion__icon:after {
  width: 20px;
  height: 1px;
}

.accordion__title:hover .accordion__icon:before,
.accordion__title:hover .accordion__icon:after {
  background-color: #52616b;
}

.accordion__icon_open:before {
  transform: rotate(90deg);
}

.numbers {
  display: flex;
}

.numbers__item {
  width: 22%;
  flex-shrink: 0;
  margin-right: 3%;
  font-size: 18px;
}

.numbers__title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 9px;
}

.numbers__small {
  color: #C4C4C4;
  font-size: 12px;
  margin-top: 15px;
  display: block;
}

.technologies {
  color: #fff;
}

.technologies__text {
  color: #989898;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.technologies__text p {
  margin-bottom: 10px;
}

.technologies__box {
  display: flex;
  flex-wrap: wrap;
}

.technologies__item {
  width: 28%;
  color: #f2f2f2;
  position: relative;
  margin-right: 5%;
  margin-bottom: 2.4%;
}

.technologies__img {
  position: absolute;
  left: -30px;
  top: 0;
}

.technologies__title {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1.2;
  color: #fff;
}

.numbers-other {
  display: flex;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  background: #272727;
  color: #C4C4C4;
}

.numbers-other__item {
  width: 23%;
  flex-shrink: 0;
  margin-right: 2%;
}

.numbers-other__title {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 11px;
  color: var(--grey);
}

.companies {
  text-align: center;
}

.companies__title {
  font-weight: 300;
  font-size: 30px;
  color: #5E5E5E;
  margin-bottom: 2.5rem;
}

.companies__box {
  display: flex;
  margin-bottom: 58px;
}

.companies__item {
  display: block;
  flex-shrink: 0;
}

.companies__item:not(:last-child) {
  margin-right: 80px;
}

.companies__get-access {
  color: #CCCCCC;
  margin: 0 auto;
  opacity: .9;
}

.questions__list {
  display: flex;
}

.questions__box {
  list-style: none;
  padding: 0;
  width: 50%;
}

.questions__box:not(:last-child) {
  margin-right: 60px;
}

.contact {
  color: var(--bg-black);
}

.contact__box {
  display: flex;
}

.contact__info {
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  padding: 35px 39px;
  width: 50%;
  margin-right: 60px;
}

.contact__phone,
.contact__mail,
.contact__address {
  display: block;
  margin-bottom: 1rem;
}

.contact__phone,
.contact__address {
  font-weight: 700;
}

.contact__leader {
  display: flex;
  margin-top: 30px;
}

.contact__photo {
  flex-shrink: 0;
  margin-right: 22px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.contact__phone img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact__form {
  width: 50%;
}

.form__input {
  border: none;
  border-bottom: 2px solid #3F3F3F;
  color: #3F3F3F;
  font-size: 18px;
  display: block;
  width: 100%;
  outline: none;
  margin-bottom: 31px;
  line-height: 2;
}

.form__textarea {
  resize: none;
  margin-top: 56px;
}

.form__send {
  display: flex;
  margin-top: 46px;
}

.form__btn {
  margin-right: 15px;
}

.form__small {
  font-size: 12px;
  color: #BCBCBC;
  display: block;
}

.form__link {
  display: block;
  text-decoration: underline;
}

.footer {
  background-color: var(--bg-black);
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.footer__map {
  margin-left: 210px;
  height: 240px;
  background: url(../img/map.png) no-repeat center;
  background-size: cover;
}

.footer__google-map {
  width: 100%;
  height: 240px;
}

.footer__bottom {
  display: flex;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  flex-shrink: 0;
}

.footer__social {
  display: block;
  margin: 0 10px;
}

.footer__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 52px 51px 52px 32px;
  line-height: 2;
}

.footer__copyright {
  color: #C4C4C4;
}

.footer__link {
  display: block;
  transition: .2s color;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--yellow);
}

.footer__partners {
  display: flex;
  align-items: center;
}

.footer__partner:not(:last-child) {
  margin-right: 21px;
}